*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
}
h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: #333;
}
h2 {
  font-size: 2em;
  font-weight: 500;
  color: #333;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #333;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
  color: #333;
}
h5 {
  font-size: 1em;
  font-weight: 500;
  color: #333;
}
h6 {
  font-size: 0.875em;
  font-weight: 500;
  color: #333;
}
p {
  font-size: 1em;
  color: #555;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
